.Rproj.user
.Rhistory
*.RData
*.Rds
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp4
.Ruserdata
Plots/*
data.RData
datacftfrac.RData
Data/cft_and_precipdata.csv
Data/DataFull.csv
Data/precipdata.csv
Original_Grid_Data_Scripts
Junk/*
No_one_knows/*