.Rproj.user
.Rhistory
*.RData
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp4
.Ruserdata
Plots/*
data.RData
datacftfrac.RData
DataWesternosprey/cft_and_precipdata.csv
DataWesternosprey/DataFull.csv
DataWesternosprey/precipdata.csv
