.Rproj.user
.Rhistory
*.RData
.RDataTmp
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp4
.Ruserdata
Plots/*
data.RData
datacftfrac.RData
Data/cft_and_precipdata.csv
Data/DataFull.csv
Data/precipdata.csv
Original_Grid_Data_Scripts/countryData_67420.RData
Original_Grid_Data_Scripts/data.RData
Original_Grid_Data_Scripts/datacftfrac.RData
Original_Grid_Data_Scripts/data.zip